# Load Batting.csv

In [12]:
import pandas as pd

batter_contracts = pd.read_csv('data/hitter_contracts.csv', sep=',')
batter_data = pd.read_csv('data/Batting(2023-1980).csv', sep=',')

batter_contracts.head()

          player  player_id            amount  length    year team pos
0  Shohei Ohtani  ohtansh01  $700,000,000.00     10.0  2023.0  LAD   h
1     Mike Trout  troutmi01     $426,500,000     12.0  2019.0  LAA   h
2   Mookie Betts  bettsmo01  $365,000,000.00     12.0  2020.0  LAD   h
3    Aaron Judge  judgeaa01  $360,000,000.00      9.0  2022.0  NYY   h
4  Manny Machado  machama01  $350,000,000.00     11.0  2023.0   SD   h

In [13]:
#batter_contracts = batter_contracts.dropna()

merged = pd.merge(batter_data, batter_contracts, left_on='player_id', right_on='player_id')

merged.shape, batter_contracts.shape, batter_contracts.shape

((50135, 31), (9238, 7), (9238, 7))

In [14]:
merged[['player_id', 'yearID', 'year']]

merged['out_of_contract'] = (merged['yearID'] < merged['year']) | (merged['yearID'] >= (merged['year'] + merged['length'] ))

In [15]:
data_to_add = merged[['player', 'player_id', 'yearID', 'pos', 'WAR', 'length', 'out_of_contract']]

data_to_add.to_csv('data/player_visualization.csv')