# Read in Data

In [94]:
import pandas as pd

data = pd.read_csv('data/player_visualization.csv', sep=',')

data = data.dropna()

data = data[data['length'] >= 5]

data

,Unnamed: 0,player,player_id,yearID,pos,WAR,length,out_of_contract
2,2,Jose Abreu,abreujo02,2023.0,h,0.0,6.0,True
3,3,Jose Abreu,abreujo02,2022.0,h,4.3,6.0,True
4,4,Jose Abreu,abreujo02,2021.0,h,2.9,6.0,True
5,5,Jose Abreu,abreujo02,2020.0,h,3.0,6.0,True
6,6,Jose Abreu,abreujo02,2019.0,h,2.5,6.0,True
...,...,...,...,...,...,...,...,...
43281,43281,Lance McCullers,mcculla01,1989.0,h,0.0,5.0,True
43282,43282,Lance McCullers,mcculla01,1988.0,h,0.1,5.0,True
43283,43283,Lance McCullers,mcculla01,1987.0,h,-0.1,5.0,True
43284,43284,Lance McCullers,mcculla01,1986.0,h,0.2,5.0,True
43285,43285,Lance McCullers,mcculla01,1985.0,h,-0.1,5.0,True

# Run T Test

In [95]:
import warnings
from scipy import stats

# Group the data by 'player_id'
grouped = data.groupby('player_id')

# Initialize a dictionary to store the t-test results for each player
t_test_results = {}

# Perform the t-test for each player
for player_id, group in grouped:
    group1 = group[group['out_of_contract'] == True]['WAR']
    group2 = group[group['out_of_contract'] == False]['WAR']


    t_statistic, p_value = stats.ttest_ind(group1, group2, nan_policy='omit')
    t_test_results[player_id] = (t_statistic, p_value)

# Print the t-test results
not_significant = {}
significant = {}
very_significant = {}
highly_significant = {}


for player_id, (t_statistic, p_value) in t_test_results.items():
    if p_value > 0.05:
        not_significant[player_id] = (t_statistic, p_value)
    
    elif p_value <= 0.5 and p_value > 0.01:
        significant[player_id] = (t_statistic, p_value)
    
    elif p_value <= 0.01 and p_value > 0.001:
        very_significant[player_id] = (t_statistic, p_value)
    
    elif p_value <= 0.001:
        highly_significant[player_id] = (t_statistic, p_value)
    
    else:
        pass

/Users/cadenparry/anaconda3/lib/python3.11/site-packages/scipy/stats/_axis_nan_policy.py:523: RuntimeWarning: Precision loss occurred in moment calculation due to catastrophic cancellation. This occurs when the data are nearly identical. Results may be unreliable.
  res = hypotest_fun_out(*samples, **kwds)

In [96]:
very_significant

{'bautijo02': (-3.76513006726412, 0.002358595890423518),
 'griffke02': (3.2911023256471044, 0.003650148965920169),
 'lucrojo01': (-4.322299800147588, 0.001507664823307129),
 'martiti02': (-4.051694138564072, 0.00118930356033417),
 'molinya01': (-3.554959509318393, 0.002435701321750707),
 'swansda01': (-4.5612667800924855, 0.0038457676329735797)}